<% departing_airport = @flights.first.departure_airport %>
<% arrival_airport = @flights.first.arrival_airport %>

<h2><%= "Depart: #{departing_airport.code} -> #{arrival_airport.code}" %> </h2>
<p><%= "#{departing_airport.city}, #{departing_airport.state} - #{departing_airport.code} 
        to #{arrival_airport.city}, #{arrival_airport.state} - #{arrival_airport.code} "%>

<table>
    <thead>
        <tr>
            <th>Departure airport</th>
            <th>Arrival Airport</th>
            <th>Departure Time</th>
            <th>Flight Duration</th>
        </tr>
    </thead>
    <tbody>
    <% @flights.each do |flight| %>
        <tr>
            <td><%= flight.departure_airport.name %></td>
            <td><%= flight.arrival_airport.name %></td>
            <td><%= "#{flight.format_date} #{flight.format_time}" %></td>
            <td><%= Time.at(flight.flight_duration).utc.strftime("%H:%M") %></td>
        </tr>
    <% end %>
    </tbody>
</table>