<% departing_airport = @flights.first.departure_airport %>
<% arrival_airport = @flights.first.arrival_airport %>

<h2><%= "Depart: #{departing_airport.code} -> #{arrival_airport.code}" %> </h2>
<p><%= "#{departing_airport.city}, #{departing_airport.state} - #{departing_airport.code} 
        to #{arrival_airport.city}, #{arrival_airport.state} - #{arrival_airport.code} "%>

<h3>Departing Flights</h3>
<br>
<%= form_with(url: new_booking_path, method: :get, class: "result-form") do |f| %>
    <% @flights.each do |flight| %>
        <div class="form-element">
            <div class="form-field">
                <%= f.radio_button :flight_id, :flight_id %>
                <%= f.label :flight_id, "#{flight.format_time} -> #{flight.arrival_time}" %>
            </div>
            <div>
                <%= flight.format_duration%>
            </div>
        </div>
    <% end %>
    <%= f.hidden_field :no_of_passengers, value: params[:num_passengers] %>
    <%= f.submit 'Book', class: "book-button" %>
<% end %>