<div class="booking-flight">
    <div class="booking-flight header">Flight</div>
        <p><%= @flight.format_date %></p>
        <div class="flight-info">
            <div class="airport">
                <div class="airport-code"><%= @flight.departure_airport.code %></div>
                <div class="departure-time"><%= @flight.format_time %></div>
            </div>
            <p>-></p>
            <div class="airport">
                <div class="airport-code"><%= @flight.arrival_airport.code %></div>
                <div class="departure-time"><%= @flight.arrival_time %></div>
            </div>
        </div>
        <p><%= @flight.format_duration %></p>  
</div>

<div class="passenger-details">
    <h3>Passenger Details</h3>
    <%= form_with model: @booking do |f| %>
        <div class="passenger-form">
            <%= f.fields_for :passengers do |passenger_f| %>
                <%= passenger_f.hidden_field :id, value: nil %>
                <h4>Details for passenger <%= passenger_f.index + 1 %></h4>
                <div class="passenger-info">
                    <%= passenger_f.text_field :name, class: "passenger-name", placeholder: "Passenger Name" %>
                    <%= passenger_f.text_field :email, class: "passenger-email", placeholder: "Passenger Email" %>
                </div>
            <% end %>
        </div>
        <div class="confirmation-buttons">
            <%= f.submit 'Book Flight' %>
            <%= link_to 'Cancel', root_path, class: "button" %>
        </div>
    <% end %>
</div>
