<div class="booking-flight">
    <div class="booking-flight header">Flight</div>
        <p><%= @flight.format_date %></p>
        <div class="flight-info">
            <div class="airport">
                <div class="airport-code"><%= @flight.departure_airport.code %></div>
                <div class="departure-time"><%= @flight.format_time %></div>
            </div>
            <p>-></p>
            <div class="airport">
                <div class="airport-code"><%= @flight.arrival_airport.code %></div>
                <div class="departure-time"><%= @flight.arrival_time %></div>
            </div>
        </div>
        <p><%= @flight.format_duration %></p>  
</div>

<div class="passenger-details">
    <h3>Passenger Details</h3>
    <%= form_with model: @booking, data: { controller: "passenger", passenger_passenger_count_value: params[:no_of_passengers] } do |f| %>
    <%= f.hidden_field :flight_id, value: @flight.id %>
    <%= f.hidden_field :no_of_passengers, value: params[:no_of_passengers]%>
        <div data-passenger-target="passengerOutput" class="passenger-form">
            <%= f.fields_for :passengers do |passenger_f| %>
                <%= passenger_f.hidden_field :id, value: nil %>
                <%= render partial: "passenger", locals: { passenger_f: passenger_f, index: passenger_f.index } %>
            <% end %>
        </div>

        <template data-passenger-target="passengerFields">
            <%= f.fields_for :passengers, @booking.passengers.build, child_index: 'NEW_RECORD' do |passenger_f| %>
                <%= render partial: "passenger", locals: { passenger_f: passenger_f, index: passenger_f.index } %>
            <% end %>
        </template>
        <br>
        <button type="button" data-action="click->passenger#add">Add Passenger</button>
        <button type="button" data-action="click->passenger#delete">Remove Passenger</button>

        <div class="confirmation-buttons">
            <%= f.submit 'Book Flight' %>
            <%= link_to 'Cancel', root_path, class: "button" %>
        </div>
    <% end %>
</div>
